<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Détail du Don du Sang</title>
    <style>
        body { font-family: DejaVu Sans, sans-serif; }
        .container { width: 100%; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }
        h1, p { text-align: center; }
        .img-thumbnail { padding: 0.25rem; background-color: #fff; border: 1px solid #dee2e6; border-radius: 0.25rem; max-width: 100%; height: auto; }
    </style>
</head>
<body>
<div class="container">
    <h1>{{ donDuSang.nom }}</h1>
    <p><strong>Description :</strong> {{ donDuSang.description }}</p>
    <p><strong>Date de l'événement :</strong> {{ donDuSang.date_evenement|date("d/m/Y") }}</p>
    <p><strong>Position :</strong> Latitude : {{ donDuSang.latitude }}, Longitude : {{ donDuSang.longitude }}</p>
    <p><strong>Places :</strong> {{ donDuSang.prix }} places</p>
    <p><strong>Nom du contact :</strong> {{ donDuSang.nomContact }}</p>
    <p><strong>Email du contact :</strong> {{ donDuSang.emailContact }}</p>
    {% if donDuSang.imageRepository is defined and donDuSang.imageRepository is not empty %}
        <p>
            {% if file_exist('./uploads/images/' ~ donDuSang.imageRepository ~ '/' ~ donDuSang.imageFileName) and donDuSang.imageFileName != "" %}
                <img src="/uploads/images/{{ donDuSang.imageRepository }}/{{ donDuSang.imageFileName }}" class="img-thumbnail"/>
            {% endif %}
        </p>
    {% endif %}
</div>
</body>
</html>
