{% extends "base.html.twig" %}
{% block title %} Détails du Don du Sang - {{ parent() }}{% endblock %}
{% block css %}
    <!-- Inclure vos fichiers CSS ici si nécessaire -->
    <style>
        /* Ajoutez ici votre style pour centrer le titre */
        h1 {
            text-align: center;
        }
    </style>
{% endblock %}
{% block body %}
    <h1>{{ donDuSang.nom }}</h1>
    <p><strong>Description :</strong> {{ donDuSang.description }}</p>
    <p><strong>Date de l'événement :</strong> {{ donDuSang.date_evenement|date("d/m/Y") }}</p>
    <p><strong>Position :</strong> Latitude : {{ donDuSang.latitude }}, Longitude : {{ donDuSang.longitude }}</p>
    <p><strong>Prix :</strong> {{ donDuSang.prix }} places</p>
    <p><strong>Nom du contact :</strong> {{ donDuSang.nomContact }}</p>
    <p><strong>Email du contact :</strong> {{ donDuSang.emailContact }}</p>
    <p>

        <a href="/DonDuSang/pdf/{{ donDuSang.id }}" class="btn btn-primary">Exporter en PDF</a>

    <p>
    {% if file_exist('./uploads/images/' ~ donDuSang.imageRepository ~ '/' ~ donDuSang.imageFileName) and donDuSang.imageFileName != "" %}
        <img src="/uploads/images/{{ donDuSang.imageRepository }}/{{ donDuSang.imageFileName }}" class="img-thumbnail"/>
    {% endif %}
</p>

    <!-- Ajoutez ici des boutons ou des liens pour d'autres actions si nécessaire -->
    </p>
{% endblock %}
