{% extends "base.html.twig" %}
{% block title %}ADMIN - {{ parent() }} - Update d'un Article {% endblock %}

{% block body %}
    <h1>Update Article</h1>

    <form method="post" enctype="multipart/form-data">

        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Saisir un titre" name="Titre" value="{{ article.Titre }}">
        </div>

        <div class="mb-3">
            <textarea class="form-control" name="Description" rows="3">{{ article.Description }}</textarea>
        </div>

        <div class="mb-3">
            <input type="date" class="form-control" name="DatePublication" value="{{ article.DatePublication|date("Y-m-d") }}">
        </div>

        <div class="mb-3">
            <select class="form-select" name="Auteur">
                <option value="Enzo" {% if(article.Auteur =="Enzo")%}selected{% endif %}>Enzo</option>
                <option value="Lukas" {% if(article.Auteur =="Lukas")%}selected{% endif %}>Lukas</option>
                <option value="Rémi" {% if(article.Auteur =="Rémi")%}selected{% endif %}>Rémi</option>
                <option value="Bastien" {% if(article.Auteur =="Bastien")%}selected{% endif %}>Bastien</option>
                <option value="Loup" {% if(article.Auteur =="Loup")%}selected{% endif %}>Loup</option>
                <option value="Kylian" {% if(article.Auteur =="Kylian")%}selected{% endif %}>Kylian</option>
            </select>
        </div>

        <div class="mb-3">
            <input type="file" class="custom-file-input" name="Image">
        </div>

        {% if file_exist( './uploads/images/'~article.ImageRepository~'/'~article.ImageFileName ) and article.ImageFileName !="" %}
            <p>Image Actuelle :</p>
            <p>
                <img src="/uploads/images/{{ article.ImageRepository }}/{{ article.ImageFileName }}" class="img-thumbnail"/>
            </p>
            <input type="hidden" name="ImageRepository" value="{{ article.ImageRepository }}">
            <input type="hidden" name="ImageFileName" value="{{ article.ImageFileName }}">
        {% endif %}




        <button type="submit" class="btn btn-primary">Valider</button>
    </form>


{% endblock %}
